/minecraft/mods/
/natives/
/lib/
/flame/
/minecraft/build/
/minecraft/cache/
/minecraft/coremods/
/minecraft/craftdumper/
/minecraft/crash-reports/
/minecraft/llibrary/
/minecraft/logs/
/minecraft/resourcepacks/1.12.2 ConverterNewEdition v1.8.zip
/minecraft/resourcepacks/NTM NMV-1.3.zip
/minecraft/saves/
/minecraft/screenshots/
/minecraft/server-resource-packs/
/minecraft/shaderpacks/
/minecraft/texturepacks/
/minecraft/vintagefix/
/minecraft/xaero/
/minecraft/XaeroWaypoints_BACKUP240807/
# these recursively regenerate which is not good for the commit history
/minecraft/config/hbmConfig/_hbmArmor.json
/minecraft/config/hbmConfig/_hbmFallout.json
/minecraft/config/hbmConfig/_hbmFluidTraits.json
/minecraft/config/hbmConfig/_hbmItemPools.json
/minecraft/config/hbmConfig/_hbmRadResist.json.json
/minecraft/config/hbmConfig/_hbmRadResist.json
# all of these too
/minecraft/config/hbmRecipes/

/minecraft/local/ftbquests/
