/natives/
/lib/
/flame/
/minecraft/build/
/minecraft/cache/
/minecraft/coremods/
/minecraft/craftdumper/
/minecraft/crash-reports/
/minecraft/llibrary/
/minecraft/logs/
/minecraft/resourcepacks/1.12.2 ConverterNewEdition v1.8.zip
/minecraft/resourcepacks/NTM NMV-1.3.zip
/minecraft/saves/
/minecraft/screenshots/
/minecraft/server-resource-packs/
/minecraft/shaderpacks/
/minecraft/texturepacks/
/minecraft/vintagefix/
/minecraft/xaero/
/minecraft/XaeroWaypoints_BACKUP240807/
# these recursively regenerate which is not good for the commit history
/minecraft/config/hbmConfig/_hbmArmor.json
/minecraft/config/hbmConfig/_hbmFallout.json
/minecraft/config/hbmConfig/_hbmFluidTraits.json
/minecraft/config/hbmConfig/_hbmItemPools.json
/minecraft/config/hbmConfig/_hbmRadResist.json.json
/minecraft/config/hbmConfig/_hbmRadResist.json

/minecraft/local/ftbquests/

# stupid stupid weapons and missiles who cant stop reinstaintaing themselves
/minecraft/config/ftbquests/normal/chapters/fe832e0f/0a93525a.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/4f6b0ec8.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/5e7111de.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/6b0ea9b8.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/9bd34a9f.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/9dfb94a3.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/87ca630c.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/193b6d40.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/0354de87.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/41946da4.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/ac95e07c.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/c0dcc116.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/c2120580.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/cf0f8254.snbt
/minecraft/config/ftbquests/normal/chapters/099177e2/d0bc3aa8.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/deaa657d.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/e69d6560.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/fba8359d.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/fcebb15f.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/bb903104.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/e444a503.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/f728bda6.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/b90890d3.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/b5258396.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/b79d808d.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/a042acfc.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/a4cdaed6.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/8209930c.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/370702e9.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/95875a11.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/070034f9.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/47585bc9.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/1598e79f.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/547c796b.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/53d63bd0.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/48edb7d7.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/42d80331.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/8c607b44.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/7f9b0479.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/5aa6b888.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/4a51fc07.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/3a604099.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/1e462dd0.snbt
/minecraft/config/ftbquests/normal/chapters/fe832e0f/0eb6ef06.snbt
/minecraft/config/ftbquests/normal/chapters/c0cf2564/removedesc.py
/minecraft/config/ftbquests/normal/chapters/c0cf2564/fixdesc.py
/minecraft/config/ftbquests/normal/chapters/c0cf2564/addfluids.py
/minecraft/config/ftbquests/normal/chapters/d9c82441/chapter.snbt
/minecraft/local/
/minecraft/config/hbmRecipes/_hbmAmmoPress.json
/minecraft/config/hbmRecipes/_hbmAnnihilator.json
/minecraft/config/hbmRecipes/_hbmArcFurnace.json
/minecraft/config/hbmRecipes/_hbmAssembler.json
/minecraft/config/hbmRecipes/_hbmBlastFurnace.json
/minecraft/config/hbmRecipes/_hbmBlastFurnaceLegacy.json
/minecraft/config/hbmRecipes/_hbmBreeder.json
/minecraft/config/hbmRecipes/_hbmChemicalPlant.json
/minecraft/config/hbmRecipes/_hbmChemplant.json
/minecraft/config/hbmRecipes/_hbmCoker.json
/minecraft/config/hbmRecipes/_hbmCombination.json
/minecraft/config/hbmRecipes/_hbmCompressor.json
/minecraft/config/hbmRecipes/_hbmCracking.json
/minecraft/config/hbmRecipes/_hbmCrucible.json
/minecraft/config/hbmRecipes/_hbmCrucibleSmelting.json
/minecraft/config/hbmRecipes/_hbmCrystallizer.json
/minecraft/config/hbmRecipes/_hbmCustomMachines.json
/minecraft/config/hbmRecipes/_hbmCyclotron.json
/minecraft/config/hbmRecipes/_hbmElectrolyzerFluid.json
/minecraft/config/hbmRecipes/_hbmElectrolyzerMetal.json
/minecraft/config/hbmRecipes/_hbmFractions.json
/minecraft/config/hbmRecipes/_hbmFuelpool.json
/minecraft/config/hbmRecipes/_hbmFusion.json
/minecraft/config/hbmRecipes/_hbmHydrotreating.json
/minecraft/config/hbmRecipes/_hbmIrradiationFluids.json
/minecraft/config/hbmRecipes/_hbmLiquefactor.json
/minecraft/config/hbmRecipes/_hbmMixer.json
/minecraft/config/hbmRecipes/_hbmParticleAccelerator.json
/minecraft/config/hbmRecipes/_hbmPedestal.json
/minecraft/config/hbmRecipes/_hbmPrecisionAssembly.json
/minecraft/config/hbmRecipes/_hbmPress.json
/minecraft/config/hbmRecipes/_hbmPUREX.json
/minecraft/config/hbmRecipes/_hbmPyrolysis.json
/minecraft/config/hbmRecipes/_hbmReforming.json
/minecraft/config/hbmRecipes/_hbmRotaryFurnace.json
/minecraft/config/hbmRecipes/_hbmSoldering.json
/minecraft/config/hbmRecipes/_hbmSolidifier.json
/minecraft/config/hbmRecipes/_hbmRockMill.json
/minecraft/config/hbmRecipes/_hbmSuperComputer.json
/minecraft/config/hbmRecipes/_hbmArcWelder.json
/minecraft/config/hbmRecipes/REMOVE UNDERSCORE TO ENABLE RECIPE LOADING - RECIPES WILL RESET TO DEFAULT OTHERWISE
/minecraft/hbmComputerUpload/
/minecraft/resourcepacks/BloomTech-1.2.0.zip
/minecraft/hei_favorites.ini
/minecraft/hei_bookmarks.ini
/minecraft/usercache.json
/minecraft/usernamecache.json
/minecraft/WailaErrorOutput.txt
/minecraft/WailaHandlerDump.md
/minecraft/config/jei/worldSettings.cfg
/minecraft/resourcepacks/SigmaBloom/assets/hbm/textures/blocks/e.png
/minecraft/config/identity
/minecraft/resourcepacks/SigmaBloom/assets/hbm/models/block/layered_block_2.json
/minecraft/resourcepacks/SigmaBloom/assets/hbm/models/block/layered_block_all_2.json
/minecraft/resourcepacks/SigmaBloom/pack.mcmeta
/minecraft/resourcepacks/SigmaBloom/assets/hbm/models/block/reinforced_light.json
/minecraft/resourcepacks/SigmaBloom/assets/hbm/textures/blocks/reinforced_light_bloom.png
/minecraft/resourcepacks/SigmaBloom/assets/hbm/textures/blocks/reinforced_light_bloom.png.mcmeta
/minecraft/config/codechicken/
/minecraft/config/xaeropatreon.txt
/minecraft/config/splash.properties