# Configuration file

~CONFIG_VERSION: 0.1.0

world-642953989 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=grenade
    B:overlayEnabled=true
}


world-642953990 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=hev
    B:overlayEnabled=true
}


world-642953991 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=meltdown
    B:overlayEnabled=true
}


world-764914009 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-78688046 {
    # Show the bookmark list overlay next to open GUIs.
    B:bookmarkOverlayEnabled=true

    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide or unhide ingredients by clicking them in the ingredient list overlay.
    B:editEnabled=false
    S:filterText=axe

    # Show the ingredient list overlay next to open GUIs.
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1648045341 {
    # Show the bookmark list overlay next to open GUIs.
    B:bookmarkOverlayEnabled=true

    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide or unhide ingredients by clicking them in the ingredient list overlay.
    B:editEnabled=false
    S:filterText=thorium

    # Show the ingredient list overlay next to open GUIs.
    B:overlayEnabled=true
}


world2066055482 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=bmg
    B:overlayEnabled=true
}


world2603186 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=.50 bm
    B:overlayEnabled=true
}


